# Database Settings
DB_NAME=easymbstore_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Security Settings
SECRET_KEY=django-insecure-l)b6cp3j)c29r)9^^(5lz_9ei2(p5ox4^i01d^^z)l687)0__(
DEBUG=True
